
.landing {
    /**
     Thre should be a folder in src called assets with images that 
     are used in App.tsx direcly or indirectly.
    */
    background-image: url('../special_assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.brand {
    margin-top: 300px;
    width: 700px;
    height: 100px;
    opacity: 0.5;
}

.brand-name {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    color: black;
}

h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
}
.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer
}
.w3-half img:hover{
    opacity:1
}

#main-sidebar {
    z-index:3;
    width:300px;
    font-weight:bold;
}

#close-button {
    width:100%;
    font-size:22px;
}

.w3-main {
    margin-left:340px;
    margin-right:40px
}

